<header>  
  <div class='header-logo'>
    <img src='/images/boxes-stacked-solid-logo.png' id='logo' alt='Stacked boxes logo'>
  </div>
  <div class='header-title'>
    <h1><%= title %></h1>
  </div>
</header>