<div class='menu'>
  <h2>Menu</h2>
  
  <ul>
    <li><a href='/inventory'>Home</a></li>
    <li><a href='/inventory/categories'>Categories</a></li>
    <li><a href='/inventory/subcategories'>Subcategories</a></li>
    <li><a href='/inventory/items/'>Items</a></li>
    <li><hr></li>
    <li><a href='/inventory/category/create'>Category Create</a></li>
    <li><a href='/inventory/subcategory/create'>Subcategory Create</a></li>
    <li><a href='/inventory/item/create'>Item Create</a></li>
  </ul>
</div>