<div>
  <h2>Menu</h2>
</div>

<ul>
  <li>Categories</li>
  <li>Subcategories</li>
  <li>Items</li>
  <li><hr></li>
  <li>Create Category</li>
  <li>Create Subcategory</li>
  <li>Create Item</li>
</ul>