/* ======== GLOBAL  ======== */

// Variables
@background-dark:   #495464;
@background-light:  #f4f4f2;
@background-mid:    #e8e8e8;
@text-primary:      #495464;
@text-secondary:    #bbbfca;
@danger: red;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-height: 100%;
  background-color: @background-dark;
}

.container {
  display: grid;
  grid-template-columns: 20% 26.67% 26.67% 26.67% ;
  grid-template-rows: 75px auto 75px;
  height: 100vh;
  max-width: 1096px;
  margin: 0 auto;
  background-color: @background-light;
  color: @text-primary;
}

label {
  color: @text-primary;
  font-size: 12pt;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  margin: 10px;
}


/* ======== PRIMARY  ======== */

section {
  padding: 10px 20px;
  grid-row: 2;
  grid-column: 2 / span 4;
  display: flex;
  flex-direction: column;
  background-color: @background-light;
  hr {
    width: 100%;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  p {
    font-size: 10pt;
  }

  a {
    color: @text-primary;
  }
  a:hover {
    color: @text-secondary;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  background-color: @background-light;
  
  a {
    text-decoration: none;
    color: @text-primary;
  }
}



/* ======== SECONDARY ======== */

.snapshot-card {
  width: 150px;
  margin: 5px 0 10px 0;
  text-align: center;
  color: @text-primary;
  background-color: @text-secondary;
  border: 1px solid @text-secondary;
  border-radius: 8px;
  box-shadow: 1px 2px 5px @background-dark;
}

.category-card,
.subcategory-card {
  .snapshot-card();
}

.item-list {
  list-style: none;
  padding-left: 0;
  
  li {

    margin-bottom: 10px;
    width: 100%;
    color: @text-primary;
    background-color: @background-mid;
    border-radius: 3px;
    font-size: 10pt;
  }

  li:hover {
    background-color: @text-secondary;
  }

  li p {
    margin: 0;
    padding: 5px 10px;
  }
  
  li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: @text-primary
  }
}

.item-detail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.item-image img{
  max-height: 200px;
}

.low-limit-item {
  border: 1px solid @danger;
  border-radius: 3px;

  p {
    color: @danger;
    font-weight: bold;
  }
}

.low-limit-detail {
  color: @danger;
}

.low-limit-button {
  .low-limit-item();
  background-color: @danger;
  margin: 0 20px;
  padding: 0 10px;
  
  p {
    color: white;
    margin: 5px;
  }
}

.category-card:hover,
.subcategory-card:hover {
  background-color: @background-mid;
}
.list-header {
  display: flex;
  justify-content: space-between;

  p {
    font-weight: bold;
    font-size: 14pt;
  }
}




/* ======== HEADER ======== */

header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column: 1 / span 5;
  grid-row: 1  / 2;
  background-color: @text-secondary;
  max-height: 75px;
}

.header-logo {
  align-self: center;
  background-color: @background-light;
  height: 100%;
  padding: 10px 0 0 20px;
}

#logo {
  max-height: 60px;
 
}

.header-title {
  padding-left: 20px;
}



/* ======== SIDEBAR ======== */

aside {
  grid-row: 2;
  grid-column: 1;
  padding-top: 30px;
  background-color: @background-mid;
}

.menu {
    padding: 0 20px;
    
    hr {
      color: @background-dark;
    }
    ul {
      padding: 0;
    }
    ul li {
      list-style: none;
      font-size: 12pt;
      margin: 0 0 10px 0;
    }

    a {
      text-decoration: none;
      color: @text-primary;
    }
    a:hover {
      color: @text-secondary;
    }
}



/* ======== FOOTER ======== */

footer {
  grid-column: 1 / span 4;
  grid-row: 3;
  background-color: @text-secondary;
  
  div p {
    text-align: center;
  }
}
